@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

//General Settings
html,body{
    margin:0;
    padding:0;
    font-family: Arial, Roboto, -apple-system, BlinkMacSystemFont, Ubuntu, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y:hidden;
}
body{
    background: #d6d4d452;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

ul,h2{
    margin:0;
    padding:0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
// variables
:root{
    --sidebar-bg-color: #d8dbf7;
    --main-bg-color: #bebebe52;
    --primary-color: #2a8cf1;
    --primary-color-light: #60aaf5;
    --secondary-color: #929292;
}

/* Mixins
     ============================================ */
     @mixin btn-default(){
        background: transparent;
        border: 0;
        cursor: pointer;
    }
    
// App
.App{
    display: flex;
    height: 100vh;
}
//main
main{
    width: 100%;
    padding: 3%;
   // background-color: var(--main-bg-color);

    h1{
        margin-top:0;
    }

    .content{
        display: flex;
        height: 89%;
    

        .welcome{
            margin: 10% auto;
            color: var(--primary-color);
            font-size: 1.7em;
            text-align: center;
            animation: fadein 1.5s;
                        
            .left-arrow{
                padding-right: 2%;
                animation-name: animate-top-down;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }

            .mobile-directions {
                display: none;
            }

            span{
                color: #000;
            }

            .blog{
                margin-top: 5%;
                font-size: 2em;
            }

            @keyframes animate-top-down{
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(10px);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }

        @keyframes fadein {
            from {
                opacity:0;
                transform: translateY(-30px);
            }
    
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .rooms-box form, .messages-header {
            height:13%;
            width: 100%;
            margin-bottom: 2%;
            border-bottom: 1px solid var(--secondary-color);
            align-items: center;
            }

        .room-createdby, .room-creation-date, .message-date {
            color: var(--secondary-color);
            font-size: 0.85em;
        }
    }
} 

/* Header
     ============================================ */
    .close-header{
        transform: translateY(-100px);
    }
    .open-header{
        transform: translateY(0);
    }
    header {
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--primary-color);
        z-index: 299;
        transition: transform 1s;
        display: none;

        .logo-container{
            color: white;
            min-width: 150px;

            button {
                @include btn-default();
                svg{
                    margin-right: 5%;
                }
            }

            span{
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        .profile .small{
            width:30px;
            height:30px;
        }
    }


/* Sidebar
     ============================================ */
.sidebar{
 width: 40vh;
 background-color:var(--sidebar-bg-color);
 padding: 3% 0;
 color: var(--secondary-color);
 z-index: 99;
 
 .close-btn{
    display: none;
 }

 .rooms-actions {
    margin-top: 20%;
    li {
        padding-left: 10%;
        margin-bottom: 10%;
        cursor: pointer;

        &:hover{
            color: var(--primary-color-light);

            svg{
                transform: rotate(360deg);
            }
         }
         
         svg {
            transition: transform 0.5s;
         }
    }
    .active {
        border-left: 3px solid var(--primary-color);
        color: var(--primary-color)!important;
    }

    button {
        @include btn-default();
        color: inherit;
        font-size: 1em;
        font-weight: 500;
        margin-left: 7%;

        &:focus {
            outline: 0px;
            color: var(--primary-color-light); 
        }
    }
 }

 
}

/* Rooms box
     ============================================ */
.show-rooms{
    margin-left:0 !important;
    width: 35% !important;
}
.rooms-box{
    width: 0%;
    margin-right: 3%;
    transition: margin 0.5s , width 0.3s ease-in-out;
    margin-left:calc(-3% - 10px);
    
    form{
        display: inline-flex;
        flex: 1 1 ;

        svg {
            font-size: 1.3em;
            color: var(--secondary-color);
        }
        .search-field {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 0px;
            padding-left: 3%;
            font-size: 1.1em;

            &:focus {
                outline: 0px;
                border-bottom: 2px solid var(--primary-color-light)
            }
        }
    }
    

    .rooms {
        overflow-y: scroll;
        scrollbar-width: thin;
        height: 84%;
        
        li {
            list-style: none;
            background: #fff;
            margin-bottom: 0.8em;
            margin-right: 0.5em;
            
            .single-room {
                width: 100%;
                padding: 0.5em;
                height: 70px;
                display: flex;
                justify-content: space-between;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                cursor: pointer;

                &:hover {
                    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }

                .room-name {
                    font-weight: bold;
                    margin-bottom: 5%;
                    font-size: 0.9em;
                }
                
                .room-additional-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;

                    button {
                        @include btn-default();
                        color: var(--secondary-color);

                        &:hover{
                            color: rgb(180, 56, 56);
                        }
                    }
                }
            }
        }
    }
}

/* Messages box
     ============================================ */
.messages-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: auto;
    scrollbar-width: thin;

    h2{
        font-size:1.3em;
    }

    .loader-container {
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .message-list-container {    
        overflow-y: auto;
        height:72%;
        

        .message-container {
            display: flex;
            margin-bottom: 2%;
            margin-right: 2%;
            p {
                margin: 0 0 2% 2%;
                font-size: 0.95em;
            }

            .sender-id {
                color: var(--secondary-color);
                font-size: 0.8em;
                margin-left: 5%;   
            }
            .text-right {
                text-align: right;
                margin-right: 5%;
            }
            .message-content {
                padding : 15px;
                border-radius: 25px;
                margin-right: 3%;
                max-width: 400px;
            }

            .grey {
                background-color: #d4d3d3;
            }

            .blue {
                background-color: var(--primary-color);
                color: rgb(240, 236, 236);
            }
        }

        .right {
            justify-content: flex-start;
            flex-direction: row-reverse;
        }
    }

    form {
        display: inline-flex;
        height: auto;
        width: 100%;
        background-color: #fff;
        align-items: center;
        position: absolute;
        bottom: 0;
        
        .send-message-field {
            width: 100%;
            max-height: 100px;
            border: 0px;
            background-color: transparent;
            padding-left: 3%;
            resize:none;
            

            &:focus {
                outline: none;
            }
        }

        button {
            border:0px;
            border-radius: 25px;
            width:30px;
            height: 30px;
            margin-right: 2%;
            margin-left: 2%;
            background-color: var(--primary-color);
            color: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            cursor: pointer;

            &:hover{
                background-color: var(--primary-color-light);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
}

/* Room modal
     ============================================ */
.modal{
    height:170px;
}
.create-room-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;

    input{
        height: 40px;
    }
    div {
        text-align: right;

        button {
            @include btn-default();
            height: 35px;
            margin: 3% 2%;
            border : 1px solid;
            border-radius: 10px;
            cursor: pointer;   
            min-width: 120px;
        }

        .create-room-btn{
            background-color: var(--primary-color);
            color: #fff;

            &:hover{
                background-color: rgb(12, 102, 175);
            }
        }
        .cancel-room-creation-btn:hover{
            background-color: rgb(224, 222, 222);
        }
    }
}

/* Login/Signup
     ============================================ */
     .login{
         .hint{
             font-size: 0.95em;
             margin-left: 2%;
         }

         input{
             padding-left: 2%;
         }

         button{
             display: inline-flex;
             justify-content: space-around;
             align-items: center;

             &:hover svg{
                color: rgb(39, 23, 112);
             }

             &[disabled]{
                 background-color: grey;
             }
         }

         .error{
             padding-left:2%;
             font-size: 0.77em;
             color: rgb(177, 8, 8);
         }
     }

/* max-width:468px
     ============================================ */
@media screen and (max-width: 768px){
    .App{
        flex-direction: column;
    }
    .close-sidebar{
        transform: translateX(-250px);
    }

    .open-sidebar{
        transform: translateX(0)!important;
    }

    .hide-box{
        display: none !important;
    }

    .show-box{
        display: flex !important;
    }

    header{
        display: flex;
    }
    
    .sidebar{
        position: absolute;
        width: 150px;
        height: 100%;
        font-size:0.75em;
        transform: translateX(-250px);
        transition: transform 1s;

        .close-container{
            text-align: right;

            .close-btn{
                display: inline-block;
                color: #993337;
                font-size: 1.5em;
                text-align: right;
                @include btn-default();
            }
        }
        .profile .medium{
            width:60px;
            height:60px;
        }
     }

     main{
         width: 100%;
         height: 100%;
         h1:nth-child(1){
            display: none;
         }

         .content {
             height: 100%;
             padding-left: 1%;
             padding-right: 1%;

            .welcome {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
   
                h2{
                    font-size: 1.3em;
                }
   
                .mobile-directions {
                   display: inline;
                   font-size: 0.85em;
                }
                
                .directions {
                    display: none;
                }
   
                .left-arrow {
                   display: none;
                }
            }

            .messages-header{
                height: auto;
            }
         }
     }
     .show-rooms{
        width: 100%!important;
     }

     .rooms-box{
         .single-room{
             font-size: 0.85em;
         }
     }

     .messages-box .message-list-container{
        height: 87%; 

        .message-container{
            font-size: 0.8em;
            
            .message{
                max-width: 250px;
            }
        }
     }
}

/* min-width:768px
     ============================================ */
     
    
